body {
    font-family: Arial;
    padding-top: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: white;
    background-color: #3e3f3a;
}
.icon-bar {
    background-color: red;
}
.accountform {
    padding-top: 20px;
}



/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: gold;
}


.project_photo img{
    width: 160px;
    height:auto; 
    display:block;
    border-radius: 10px;
    padding-left:3px;
    padding-bottom:3px;
    float: left;
}

.thumbnail ratings{
    top:20px;
}

.add-to-cart{
float:right;
}

/*.edit_button btn btn-success{
  float:right; 
  display:hidden;
    
}*/

