{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post" class="accountform">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}