{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Glo-lighting</title>

  {% block head_style %}
  <link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock head_style %} {% block head_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% endblock head_js %}
</head>

<body>
  <!-- Fixed masthead -->
  <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="/">logo</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'project_list' %}">Projects</a></li>
          <li><a href="{% url 'filter' 'suspension' %}">Suspension</a></li>
          <li><a href="{% url 'filter' 'floor' %}">Floor</a></li>
          <li><a href="{% url 'filter' 'table' %}">Table</a></li>
          <li><a href="{% url 'filter' 'wall-ceiling' %}">Wall/Ceiling</a></li>
          <li><a href="{% url 'filter' 'outside' %}">Outside</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
          <li><a href="{% url 'add_product' %}"><i class="fa fa-user-plus"></i>Add product</a></li>

          {% else %}
          <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
          <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
          {% endif %}
          <li><a href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart"></i> Cart                        
                        <label class="badge badge-light">{{ number_of_items_in_cart }}</label></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      {% if messages %}
      <div class="alert alert-success">
        <div class="messages">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% block content %} {% endblock %}
    </div>
  </div>
 
  <footer class="page-footer font-small blue pt-4">



        <!-- Grid column -->
<div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
<h5 class="text-uppercase">Footer Content</h5>
<p>Here is where I want the logos.</p>

</div>
 Grid column 

<hr class="clearfix w-100 d-md-none pb-3">

       
<div class="col-md-3 mb-md-0 mb-3">

<h5 class="text-uppercase">Links</h5>

<ul class="list-unstyled">
  <li>
    <a href="#!">Link 1</a>
  </li>
  <li>
    <a href="#!">Link 2</a>
  </li>
  <li>
    <a href="#!">Link 3</a>
  </li>
  <li>
    <a href="#!">Link 4</a>
  </li>
</ul>
</div>
     

<div class="col-md-3 mb-md-0 mb-3">

<h5 class="text-uppercase">Links</h5>

<ul class="list-unstyled">
  {% for brand in brands %} {{ products.brand }} {% endfor %}
  <li>
    <a href="#!">if you are a manufacture of brand and would like to expose your products click here</a>
  </li>

</ul>

    </div>


  </div>
    

</div>

<div class="footer-copyright text-center py-3">© 2018 Copyright:Stevie Bolton</a>
</div>
  

</footer>
  <!-- Footer -->
              <script src="js/jquery.min.js"></script>
            <!-- Kompresovan JavaScript fajl -->
            <script src="js/bootstrap.min.js"></script>

</body>

</html>