
{% extends "base.html" %}
{% block content %}
   <div class="row">

    <div class="col-lg-6">        {% for product_image in product.images.all %}    
       <div class="project_photo"><img src="{{MEDIA_URL}}{{ product_image.image }}"></div>
        {% endfor %}

      <div class="card mt-4">
      <img width="500" height="500" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{product.image}}" alt="">
      <div class="card-body">
      <h3 class="card-title">{{product.name}} <img src="media/logos/lzf.png"></h3>
      <h4>€{{product.bruto_price}}</h4>

                    {% if product.brand %}
                     <p>brand:{{product.brand}}</p>
                    {% endif %}
                    {% if product.fitting %}
                    <p>{{product.fitting}}</p>
                    {% endif %}
                    {% if product.material %}
                    <p>{{product.material}}</p>
                    {% endif %}
                    {% if product.mains %}
                    <p>{{product.mains}}</p>
                    {% endif %}
                    {% if product.height %}
                     <p>Height: {{product.height}}</p>
                    {% endif %}
                    {% if product.width %}
                    <p>{{product.width}}</p>
                    {% endif %}
                    {% if product.diameter %}
                    <p>{{product.diameter}}</p>
                    {% endif %}
                    {% if product.color %}
                    <p>{{product.colour}}</p>
                    {% endif %}
                    {% if product.art_No %}
                    <p>{{product.art_No}}</p>
                    {% endif %}
                    {% if product.color %}
                    <p>{{product.colour}}</p>
                    {% endif %}
                    {% if product.bruto_price %}
                    <p>{{product.bruto_price}}</p>
                    {% endif %}
                    {% if product.transformer_included %}
                    <p>{{product.transformer_included}}</p>
                    {% endif %}
                    {% if product.product_type %}
                    <p>{{product.product_type}}</p>
                    {% endif %}
                    {% if product.miscellaneous %}
                    <p>{{product.miscellaneous}}</p>
                    {% endif %}
       <span class="text-warning">
           
            

            
            
    <div class="col-lg-6">
     
        </div>
        {% for star in product.stars %}
        <i class="fa fa-star"></i>
        
        {% endfor %}
        {% if product.needs_half_star %}
        <i class="fa fa-star-half"></i>
        {% endif %}        
       </span>
      </div>
     </div>
     <!-- /.card -->
     
     <div>
     <a href="{% url 'edit_product' product.id %}" class="btn btn-success">Edit</a>
     </div>
     
     
     <form action="{% url 'add_to_cart' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{product.id}}"/>
      <p><input type="hidden" name="quantity" value="1"/></p>
      <p><input class="btn btn-success" type="submit" value="Add To Cart"/></p>
    </form>
    </div>
     
    </div>
    <!-- /.col-lg-9 -->

   </div>
{% endblock content %}
