{% extends "base.html" %} {% block content %}
<div class="container-fluid">

    <div class="container">
        
        <div class="row">     
     <div class"edit_button">
     <a href="{% url 'edit_product' product.id %}" class="btn btn-success">Edit</a>
     </div>
            <div class="col-xs-12 col-sm-4" style="background-color:white;">

                <img width="400px" height="auto" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{product.image}}" alt="">

            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-3-offset-1" style="background-color:white;">
                    <h3 class="card-title">{{product.name}} <img width="400px" height="auto" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{product.logo}}" alt="">
                    
                    
                    <h4>€{{product.bruto_price}} ex. btw</h4>
                    {% if product.brand %}
                    Brand:{{product.brand}}
                    {% endif %}<br> 
                
                    
                    {% if product.material %}
                    Material:{{product.material}}
                    {% endif %}<br>  
                    
                    {% if product.mains %}
                    Mains:{{product.mains}}
                    {% endif %}<br>
                    
                    {% if product.height %}
                    Shade height:{{product.height}}
                    {% endif %}<br>
                    
                    {% if product.width %}
                    Shade width:{{product.width}}
                    {% endif %}<br>
                    
                    {% if product.diameter %}
                    Shade ø:{{product.diameter}}
                    {% endif %}<br>
                    
                    {% if product.color %}
                    Colour:{{product.colour}}
                    {% endif %}<br>
                    
                    {% if product.fitting %}
                    Fitting:{{product.fitting}}
                    {% endif %}<br>
                    
                    {% if product.bulb %}
                    Bulb:{{product.bulb}} 
                    {% endif %}<br>
                    
                    {% if product.kelvin %}
                    Kelvin:{{product.kelvin}} 
                    {% endif %}<br>
                    
                    {% if product.cri %}
                    CRI:{{product.cri}} 
                    {% endif %}<br>
                    
                    {% if product.lumens %}
                    Lumens:{{product.lumens}} 
                    {% endif %}<br>
                    
                    {% if product.energy %}
                    Energy:{{energy_label}} 
                    {% endif %}<br>
                    
                    {% if product.art_No %}
                    Art.No.{{product.art_No}}
                    {% endif %}<br>

                    {% if product.transformer_included %}
                    Transformer:{{product.transformer_included}}
                    {% endif %}<br>
                    
                    {% if product.miscellaneous %}
                    {{product.miscellaneous}}
                    {% endif %}
                    <br>
                    
                    {% for star in product.stars %}
                    <i class="fa fa-star"></i> {% endfor %} {% if product.needs_half_star %}
                    <i class="fa fa-star-half"></i> {% endif %}

                    <span class="text-warning"> </div>
                <div class="col-xs-12 col-sm-4" style="background-color:white;">
                    {% for product_image in product.images.all %}
                <div class="project_photo"><img src="{{MEDIA_URL}}{{ product_image.image }}"></div>
                {% endfor %}
        </div>
    </div>

<div class="add-to-cart">
<form action="{% url 'add_to_cart' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{product.id}}" />
        <p><input type="hidden" name="quantity" value="1" /></p>
        <p><input class="btn btn-success" type="submit" value="Add To Cart" /></p>
    </form>
    </div>
{% endblock content %}
